@media (max-width: 1400px) {
  main {
    header {
      .header-logo {
        width: 100px;
      }
      .menu {
        a {
          font-size: 22px;
        }
      }
      .social-media {
        .example-2 .icon-content a {
          width: 46px;
          height: 46px;
        }

        .example-2 .icon-content a svg {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  main {
    header {
      .social-media {
        .example-2 .icon-content a {
          width: 44px;
          height: 44px;
        }

        .example-2 .icon-content a svg {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  main {
    header {
      .menu {
        a {
          font-size: 20px;
        }
      }
      .social-media {
        .example-2 .icon-content a {
          width: 40px;
          height: 40px;
        }

        .example-2 .icon-content a svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  main {
    header {
      .header-logo {
        width: 80px;
      }
      .menu {
        a {
          font-size: 18px;
        }
      }
      .social-media {
        .example-2 .icon-content a {
          width: 36px;
          height: 36px;
        }

        .example-2 .icon-content a svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media (max-width: 880px) {
  main {
    header {
      .header-logo {
        width: 72px;
      }
      .menu {
        a {
          font-size: 17px;
        }
      }
      .social-media {
        .example-2 .icon-content a {
          width: 36px;
          height: 36px;
        }

        .example-2 .icon-content a svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
@media (max-width: 820px) {
  main {
    header {
      .header-logo {
        width: 68px;
      }
      .menu {
        a {
          font-size: 16px;
        }
      }
      .social-media {
        .example-2 .icon-content a {
          width: 34px;
          height: 34px;
        }

        .example-2 .icon-content a svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media (max-width: 764px) {
  main {
    header {
      .header-logo {
        width: 120px;
      }
      .menu {
      display:none;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 40px;
          height: 40px;
        }

        .example-2 .icon-content a svg {
          width: 26px;
          height: 26px;
        }
      }
      .responsive-header{
        .burger-menu{
          display:flex;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  main {
    header {
      .header-logo {
        width: 100px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 38px;
          height: 38px;
        }

        .example-2 .icon-content a svg {
          width: 24px;
          height: 24px;
        }
      }
      .responsive-header{
        .burger-menu{
          width:48px;
          height:48px;
        }
      }
    }
  }
}
@media (max-width: 440px) {
  main {
    header {
      height:92px;
      .header-logo {
        width:80px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 36px;
          height: 36px;
        }

        .example-2 .icon-content a svg {
          width: 22px;
          height: 22px;
        }
      }
      .responsive-header{
        .burger-menu{
          width:40px;
          height:40px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  main {
    header {
      height:90px;
      .header-logo {
        width:72px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 36px;
          height: 36px;
        }

        .example-2 .icon-content a svg {
          width: 22px;
          height: 22px;
        }
        .example-2 .icon-content {
          margin: 0 8px;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  main {
    header {
      height:88px;
      .header-logo {
        width:68px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 34px;
          height: 34px;
        }

        .example-2 .icon-content a svg {
          width: 20px;
          height: 20px;
        }
        .example-2 .icon-content {
          margin: 0 6px;
        }
      }
    }
  }
}
@media (max-width: 340px) {
  main {
    header {
      height:86px;
      .header-logo {
        width:60px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 30px;
          height: 30px;
        }

        .example-2 .icon-content a svg {
          width: 18px;
          height: 18px;
        }
        .example-2 .icon-content {
          margin: 0 6px;
        }
      }
      .responsive-header{
        .burger-menu{
          width:36px;
          height:36px;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  main {
    header {
      height:84px;
      .header-logo {
        width:56px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 28px;
          height: 28px;
        }

        .example-2 .icon-content a svg {
          width: 16px;
          height: 16px;
        }
      }
      .responsive-header{
        .burger-menu{
          width:36px;
          height:36px;
        }
      }
    }
  }
}
@media (max-width: 300px) {
  main {
    header {
      height:82px;
      .header-logo {
        width:56px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 24px;
          height: 24px;
        }

        .example-2 .icon-content a svg {
          width: 14px;
          height: 14px;
        }
      }
      .responsive-header{
        .burger-menu{
          width:32px;
          height:32px;
        }
      }
    }
  }
}
@media (max-width: 260px) {
  main {
    header {
      height:80px;
      .header-logo {
        width:50px;
      }
      .social-media {
        .example-2 .icon-content a {
          width: 20px;
          height: 20px;
        }

        .example-2 .icon-content a svg {
          width: 12px;
          height: 12px;
        }
      }
      .responsive-header{
        .burger-menu{
          width:28px;
          height:28px;
        }
      }
    }
  }
}