main {
  display: flex;
  justify-content: center;

  header {
    padding-right: 5%;
    padding-left: 5%;
    max-width: 1920px;
    width: 85%;
    height:100px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top:40px;
    backdrop-filter:blur(30px);
    box-shadow:0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius:20px;
    position:fixed;
    z-index:100;

    .header-logo {
      width:120px;

    }

    .menu{
      display:flex;
      align-items: center;
      justify-content: space-evenly;
      width:60%;

      a{
        text-decoration: none;
        color:white;
        font-size:24px;
        cursor: pointer;
      }
    }

    .social-media {
      display:flex;
      align-items: center;
      justify-content:space-between;

  
      /* From Uiverse.io by wilsondesouza */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
}

.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 16px;
  transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
  
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #000000;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  -webkit-animation: icon-animation 0.9s both;
  animation: icon-animation 0.9s both;
  
}

.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
}

.example-2 .icon-content a:hover {
  color: white;
  
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}

.example-2 .icon-content a[data-social="tiktok"] .filled,
.example-2 .icon-content a[data-social="tiktok"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #69c9d0, /* TikTok teal */
    #ee1d52,  /* TikTok pink */
    #f5a623,  /* TikTok orange */
    #f7b733   /* TikTok yellow */
  );
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #1877F2; /* Facebook Blue */
}
    }
    .responsive-header{
      .burger-menu{
        width:60px;
        height:60px;
        display:none;
      }
      .responsive-menu {
        display:none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border:solid 1px black;
        border-radius:16px;
        padding:0;
        height:180px;
        width:160px;
        position:absolute;
        top:120px;
        right:20px;
        box-shadow:0px 0px 30px rgba(227, 228, 237, 0.37);
        filter: contrast(2);
        border: 2px solid rgba(255, 255, 255, 0.18);
        
        a {
          font-size: 16px;
          text-decoration: none;
          color:white;
          font-weight:500;
        }
      }
    }

  }
}


@-webkit-keyframes icon-animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes icon-animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}