<main>
  <footer>
    <section class="left-side">
      <p>Powered and Developed by</p> <a class="developer" href="">Jason Peters</a>
    </section>

    <section class="middle">

      <a href="" class="privacy-policy">Privacy Policy</a>

      <a href="" class="imprint">Imprint</a>

      <a href="" class="cookies">Cookies</a>

    </section>

    <section class="right-side">
      <img class="footer-logo" src="assets/img/studio/white_logo.png.webp" alt="">
      <p>&copy; 2025 Pricless tattoo</p>
    </section>
  </footer>

  <footer class="responsive-footer">
    <section class="left-side">
      <div class="links">

        <a href="" class="privacy-policy">Privacy Policy</a>
  
        <a href="" class="imprint">Imprint</a>
  
        <a href="" class="cookies">Cookies</a>
  
      </div>

      <div class="developer">
        <p>Developed by</p> <a class="developer" href="">Jason Peters</a>
      </div>

    </section>

    <section class="right-side">

      <div class="right-side">
        <img class="footer-logo" src="assets/img/studio/white_logo.png.webp" alt="">
        <p>&copy; 2025 Pricless tattoo</p>
      </div>

    </section>

  </footer>
</main>
