main {
  display:flex;
  justify-content: center;
  background-color: #1c1c1c;

  footer {
    padding-right: 5%;
    padding-left: 5%;
    max-width:1920px;
    width:100%;
    height:140px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .left-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 20px;
        color:white;
        margin:8px 0 8px 0;
      }
      a {
        text-decoration: none;
        color:rgb(181, 182, 183);
        font-size:24px;
      }
    }

    .middle {
      display:flex;
      flex-direction:column;
      justify-content: space-evenly;
      align-items: center;
      height:100%;
      
      a {
        font-size:20px;
        text-decoration: none;
        color:white;
      }
    }

    .right-side {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .footer-logo {
        width:120px;
      }
      p{
        font-size:20px;
        color:white;
        margin:0;
      }
    }

  }
  .responsive-footer{
    display:none;
    height:180px;
    .left-side{
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      height:90%;

      .links{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:8px;
        a {
          font-size:20px;
        }
      }

      .developer {
        display:flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 18px;
          margin:0;
        }
        a {
          font-size:20px;
        }
      }
    }

    .right-side {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height:90%;

      .footer-logo {
        width:160px;
      }
      p{
        font-size:22px;
        color:white;
        margin:0;
      }
    }
  }

  
}