<main>
  <img src="./assets/img/certificates/schulung-2.jpg" alt="" class="start-img">
  <section id="qualitys" class="qualitys">
    

    <section class="quality-section">

      <h1>
        What is Quality?
      </h1>

      <p>Qualität beim Tätowieren zeigt sich in mehreren Aspekten: die hygienischen Standards, die Erfahrung und Technik des Tätowierers sowie die verwendeten Materialien. Hochwertige Tätowierungen entstehen durch präzise Linienführung, satte Farben und gleichmäßige Schattierungen. Ein professionelles Studio setzt auf steriles Equipment, hochwertige Farben und eine ausführliche Beratung. Ebenso wichtig ist die Nachsorge, um eine perfekte Abheilung und langanhaltende Ergebnisse zu gewährleisten.</p>

    </section>

    <section class="certificat-section">

      <div class="top">
        <h1>Zertifikate</h1>

        <p>Zertifikate sind nicht alles jedoch ist uns vertrauen und sicherheit wichtig. wenn wir bereits eine solche basis durch zertifikate erstellen können besitzen haben sie priorität bei uns</p>

      </div>

     <article>
      <h2>Hygiene</h2>

      <h3>was ist der standart</h3>


      <h4>Belehrung gemäß §43 Infektionsschutzgesetz (IfSG)</h4>
      <p>das ist der deutsche standart und wird unter anderen auch "Gesundheitszeugnis" oder "Hygiene-Pass" genannt. Jedes Mitglied unseres Teams verfügt über das offizielle Hygienezertifikat nach §43 IfSG. Diese Schulung bestätigt, dass wir umfassend über Infektionsprävention, Sterilisationsverfahren und hygienisches Arbeiten geschult sind</p>
      <img src="./assets/img/certificates/ifsg.jpg" alt="" class="certificat">

      <h3 class="extra">was ist extra ?</h3>
      
      <h4>TÜV-Hygiene-Zertifizierung</h4>
      <p>Das TÜV-Siegel für Tattoo-Studios ist eine freiwillige Qualitätsprüfung, die von unabhängigen Prüfern des TÜV durchgeführt wird. Dabei werden Hygienevorschriften, Arbeitsmaterialien, Sicherheitsmaßnahmen und die Qualifikation der Tätowierer überprüft. Studios mit diesem Siegel erfüllen überdurchschnittliche Standards und garantieren eine sichere, hygienische Umgebung für ihre Kunden.</p>
      <img src="./assets/img/certificates/tüv-hygiene.png" alt="" class="certificat">

      <h4>SAFE-TATTOO Zertifikat</h4>
      <p>Das SAFE-TATTOO Siegel der Deutschen Organisierten Tätowierer (DOT) ist eine freiwillige Hygiene- und Qualitätsprüfung für Tattoo-Studios. Studios, die dieses Zertifikat erhalten, haben eine intensive Prüfung der Arbeitsweise, Hygienevorschriften und verwendeten Produkte bestanden. Zudem verpflichten sich die Tätowierer zu regelmäßigen Weiterbildungen im Bereich Hygiene und Hautschutz.</p>
      <img src="./assets/img/certificates/safe-tattoo.jpg" alt="" class="certificat">
     </article>

     

     <article>
      <h2>Farben</h2>

      <h3>was ist der standart</h3>


      <h4>REACH-konforme Farben (gesetzliche Pflicht in der EU)</h4>
      <p>REACH (Registration, Evaluation, Authorisation and Restriction of Chemicals) ist eine EU-Verordnung, die sicherstellt, dass Tattoo-Farben keine verbotenen oder gesundheitsgefährdenden Chemikalien enthalten (z. B. bestimmte Azofarbstoffe, Schwermetalle wie Nickel oder Kadmium).</p>
      <img src="./assets/img/certificates/reach.webp" alt="" class="certificat">

      <h3 class="extra">was ist extra ?</h3>

      <h4>European Tattoo Ink Safety (ETIS)</h4>
      <p>Eine unabhängige Zertifizierung, die über REACH hinausgeht. Sie testet Farben auf zusätzliche Schadstoffe, Sterilität und Langzeitstabilität.ETIS-zertifizierte Farben gelten als höchste Sicherheitsstufe. Viele Premium-Marken wie Eternal Ink oder Dynamic Colors nutzen dieses Siegel.Wir verwenden ETIS-zertifizierte Farben – sie wurden in Laboren auf über 1.000 unerwünschte Substanzen geprüft und sind besonders hautverträglich. </p>
      <img src="./assets/img/certificates/etis.avif" alt="" class="certificat">
    </article>





     <article>
      <h2>Schulungen und weiterbildungen</h2>

      <h3>uns ist der standart zu standart daher haben wir alle unserer mitarbeiter diese beiden schulungen gefördert</h3>


      <h4>ProTattoo Akademies - Black & Grey</h4>
      <p>Die ProTattoo Akademie ist eine angesehene Einrichtung, die sich auf die Ausbildung von Tätowierern spezialisiert hat. Sie bietet umfassende Schulungen in verschiedenen Tattoo-Stilen und -Techniken an</p>
      <p>Fokus auf monochrome Tätowierungen mit unterschiedlichen Graustufen für tiefe und kontrastreiche Designs</p>
      <img src="./assets/img/certificates/schulung-2.jpg" alt="" class="education">


      <h4>Medizinische Tattoo-Schulungen - Narbenpigmentierung</h4>
      <p>Medizinische Tattoo-Schulungen sind spezialisierte Programme, die darauf abzielen, Tätowierern und Permanent Make-up Artists die Fähigkeiten zu vermitteln, um medizinische Pigmentierungen durchzuführen</p>
      <p>Techniken zur Kaschierung von Narben, um das Hautbild zu verbessern und die Sichtbarkeit von Narben zu reduzieren.</p>
      <img src="./assets/img/certificates/schulung-1.jpeg" alt="" class="education">
     </article>

    </section>

    <section class="event-section">

      <h1>Events</h1>
      

      <div class="event-container">
        <div class="left-side">
          <h3>Tattoo Tage Hamburg</h3>

          <p>Datum: 24. bis 26. Januar 2025</p>
          <p>Ort: Hamburg Messe, Hallen B1 und B2</p>
          <p>Die Hamburger TattooTage sind eine bedeutende Tattoo-Messe in Norddeutschland, die jährlich in den Messehallen der Hamburg Messe stattfindet. Die Veranstaltung bietet Tattoo-Enthusiasten, Künstlern und Interessierten eine Plattform, um sich auszutauschen, Inspiration zu sammeln und die vielfältige Welt der Körperkunst zu erleben.</p>

          <a href="">Click mich für mehr infos</a>
        </div>

        <div class="right-side">

          <img src="assets/img/studio/hamburg-event.jpg" alt="">

        </div>

      </div>

    </section>

  </section>
</main>
