main{
  display:flex;
  justify-content: center;
  background-color: #1c1c1c;

 .homepage {
  display:flex;
  justify-content: center;
  align-items:center;
  max-width:1920px;
  width:100%;

  .homepage-background-img{
    width:100%;
    height:100vh;
    object-fit: cover;
  }

  h1 {
    position:absolute;
    font-size:100px;
    color:white;
  }
 }
}