<main>
  <section class="about-studio">

    <div class="left-side" >

      <article class="text-area">

        <h2>Our Story</h2>

        <p class="start-text" >Welcome to [Studio Name], where art meets skin and stories come to life. Nestled in the heart of [City/Neighborhood], we are more than just a tattoo studio—we're a haven for creativity, self-expression, and individuality.</p>

        <p>At [Studio Name], our team of passionate and highly skilled artists brings years of experience and a deep love for their craft. Whether you're looking for a delicate, minimalist design, bold and intricate sleeves, or a custom piece that captures your unique story, we are here to turn your vision into reality.</p>

      </article>
    </div>

    <div class="right-side">

      <div class="image-area">
        <img class="homepage-background-img" src="assets/img/studio/Studio-img.jpg" alt="">
      </div>

    </div>

  </section>
</main>
