<main>
  <section class="studio-section">

    <h2>CEO - Darth Vader</h2>

    <div class="about-studio">

<div class="left-side" >

      <article class="text-area">

        <p class="start-text" >Welcome to [Studio Name], where art meets skin and stories come to life. Nestled in the heart of [City/Neighborhood], we are more than just a tattoo studio—we're a haven for creativity, self-expression, and individuality.</p>

        <p>Our mission is to celebrate your individuality through the art of tattooing. Every piece we create is as unique as the person wearing it, and we work closely with our clients to make sure their tattoo is a reflection of their personal journey, passions, and style.</p>

        <p>Ready to bring your idea to life? Stop by our studio or reach out to schedule a consultation. At [Studio Name], your next masterpiece is just a needle away.</p>
      </article>
    </div>

    <div class="right-side">

      <div class="image-area">
        <img class="homepage-background-img" src="assets/img/studio/ceo.webp" alt="">
      </div>

    </div>

    </div>

    

  </section>
</main>
