main {
  display:flex;
  justify-content: center;
  background: radial-gradient(
    circle farthest-side at 0% 50%,
    #282828 23.5%,
    rgba(255, 170, 0, 0) 0
  )
  21px 30px,
radial-gradient(
    circle farthest-side at 0% 50%,
    #2c3539 24%,
    rgba(240, 166, 17, 0) 0
  )
  19px 30px,
linear-gradient(
    #282828 14%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 85%,
    #282828 0
  )
  0 0,
linear-gradient(
    150deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(
    30deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
  #282828;
background-size: 40px 60px;

  .contact {
    padding-left:5%;
    padding-right:5%;
    max-width:1920px;
    width:100%;
    padding-top:15%;
    padding-bottom:10%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    .info {
      width: 40%;
      background: linear-gradient(#212121, #212121) padding-box,
                  linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
      border: 2px solid transparent;
      padding: 32px 24px;
      margin-bottom:100px;
      font-size: 14px;
      font-family: inherit;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-sizing: border-box;
      border-radius: 16px;
      background-size: 200% 100%;
      animation: gradient 5s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    


    .form-container {
      width: 60%;
      background: linear-gradient(#212121, #212121) padding-box,
                  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
      border: 2px solid transparent;
      padding: 32px 24px;
      font-size: 14px;
      font-family: inherit;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-sizing: border-box;
      border-radius: 16px;
      background-size: 200% 100%;
      animation: gradient 5s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
    
      50% {
        background-position: 100% 50%;
      }
    
      100% {
        background-position: 0% 50%;
      }
    }
    
    .form-container button:active {
      scale: 0.95;
    }
    
    .form-container .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    .form-container .form-group {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
    
    .form-container .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #717171;
      font-weight: 600;
      font-size: 12px;
    }
    
    .form-container .form-group input {
      width: 90%;
      padding: 12px 16px;
      border-radius: 8px;
      color: #fff;
      font-family: inherit;
      background-color: transparent;
      border: 1px solid #414141;
    }
    
    .form-container .form-group textarea {
      width: 90%;
      padding: 12px 16px;
      border-radius: 8px;
      resize: none;
      color: #fff;
      height: 96px;
      border: 1px solid #414141;
      background-color: transparent;
      font-family: inherit;
    }
    
    .form-container .form-group input::placeholder {
      opacity: 0.5;
    }
    
    .form-container .form-group input:focus {
      outline: none;
      border-color: #e81cff;
    }
    
    .form-container .form-group textarea:focus {
      outline: none;
      border-color: #e81cff;
    }
    
    .form-container .form-submit-btn {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      align-self: flex-start;
      font-family: inherit;
      color: #717171;
      font-weight: 600;
      width: 40%;
      background: #313131;
      border: 1px solid #414141;
      padding: 12px 16px;
      font-size: inherit;
      gap: 8px;
      margin-top: 8px;
      cursor: pointer;
      border-radius: 6px;
    }
    
    .form-container .form-submit-btn:hover {
      background-color: #fff;
      border-color: #fff;
    }

    .upload-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border: 2px dashed #ccc;
      border-radius: 10px;
      background-color: #f9f9f9;
    }
    
    .upload-box {
      text-align: center;
      padding: 20px;
    }
    
    .file-input-label {
      cursor: pointer;
      color: #007bff;
      text-decoration: underline;
    }
    
    .file-count {
      margin-top: 10px;
      font-size: 14px;
      color: #666;
    }
  }
}