main {
  display:flex;
  justify-content: center;
  background: radial-gradient(
    circle farthest-side at 0% 50%,
    #282828 23.5%,
    rgba(255, 170, 0, 0) 0
  )
  21px 30px,
radial-gradient(
    circle farthest-side at 0% 50%,
    #2c3539 24%,
    rgba(240, 166, 17, 0) 0
  )
  19px 30px,
linear-gradient(
    #282828 14%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 85%,
    #282828 0
  )
  0 0,
linear-gradient(
    150deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(
    30deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
  #282828;
background-size: 40px 60px;

  .collection {
    padding-left:5%;
    padding-right:5%;
    max-width:1920px;
    width:100%;
    padding-top:10%;
    padding-bottom:10%;
   
    article {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom:80px;
      margin-top:80px;
    

      h1 {
        font-size: 100px;
        margin:0;
        white-space:nowrap;
        color:white;
      }

      h2 {
        font-size: 40px;
        margin-top: 16px;
        color:white;
      }
    }

    .collection-grid {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap:40px;
      width:100%;
      

      .card {
        width:100%;
        height:auto;
        transform: skew(0deg, -2deg);
        transition: transform 0.3s ease, margin-bottom 0.3s ease;
        perspective: 1000px;
        
        &:hover {
          transform: translateY(-40px) skew(0deg, -2deg); /* Move up by the gap amount */
          margin-bottom: -50px; /* Remove the gap visually */
        }



        .card-inner {
         width:100%;
       
          transform-style: preserve-3d;
          transform: rotateY(0deg);
          transition: transform 0.6s ease; /* Umdreh-Animation */
  
          .card-front {    
            width: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            img {
              width:100%;
              height:auto;
              border-radius:4px;
            }
          }
  
          .card-back {
            height:100%;
            width: 100%;
            position: absolute;
            top: 0;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            align-self: center;
            border-radius: 4px;
            background: #000000;
            color: #ffffff;
            transform: rotateY(180deg); 

            h3 {
              font-size:40px;
              margin:40px 0 0 0;
            }

            .artist-div {
              display: flex;
              gap:8px;

              p {
                font-size: 24px;
                margin:16px 0 8px 0;
              }
            }

            .customer-div {
              display: flex;
              gap:8px;

              p {
                font-size: 20px;
                margin:0px 0 24px 0;
              }

            }

            .rating-div {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap:4px;

              p {
                font-size: 20px;
                width:80%;
                margin:0;
              
              }

            }

            .date {
              position:absolute;
              bottom:16px;
              font-size:24px;
            }
          
          }
        }
  
        /* Flip-Zustand */
        &.flipped .card-inner {
          transform: rotateY(180deg);
        }
        
      }
    }

    .hidden-gems-into {
      margin-top: 200px;
      margin-bottom:100px;

      h1 {
        font-size: 80px;
        margin:0 0 40px 0;

      }

      h2 {
        font-size: 40px;
        margin:16px 0 0px 0;
        text-align:center;
      }
    }

    .hidden-gems {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap:40px;
      width:100%;
      

      .gem {
        width:100%;
        height:auto;
        transform: skew(0deg, -2deg);
        transition: transform 0.3s ease, margin-bottom 0.3s ease;
        overflow:hidden;
        border-radius:4px;
        
        &:hover {
          transform: translateY(-40px) skew(0deg, -2deg); /* Move up by the gap amount */
          margin-bottom: -50px; /* Remove the gap visually */
        }

        img {
          width:100%;
          height:auto;
         
          filter:blur(16px);
          
        }
      }
    }

  }
}